/*通用属性*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: Microsoft YaHei, Arial, sans-serif;
  color: #333;
  background-color: #f4f4f4;
  /*阻止旋转屏幕时自动调整字体大小*/
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  /* 解决IOS默认滑动很卡的情况 */
  -webkit-overflow-scrolling: touch;
}
html,
body {
  /*width: 100%;*/
  height: 100%;
  margin: 0;
  padding: 0;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
ol,
dl,
dt,
dd,
img,
button,
pre,
form,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

address,
cite,
code,
em {
  font-weight: normal;
  font-style: normal;
}
th {
  font-style: normal;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: #4170ff;
}

a:link {
}

a:visited {
}

a:hover,
a:active,
a:focus {
  text-decoration: none;
  /*文本下的一条线*/
  /*text-decoration: underline;*/
  /*穿过文本下的一条线*/
  /*text-decoration:line-through;*/
}

a:hover {
}

textarea,
input,
select,
option {
  margin: 0;
  padding: 0;
  outline: none;
}

p {
  /*换行*/
  word-break: break-all;
  /*不换行*/
  /*word-break: normal;*/
}

img {
  border: 0;
  /*border: none;*/
  vertical-align: middle;
  background: #fff;
}

input,
select {
  vertical-align: middle;
}

ul,
li,
ol {
  list-style: none;
}

table td {
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  display: block;
}
span,
img {
  display: inline-block;
}
